    <div class="modal fade" id="actionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center">Are You sure?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <a id="yesModalBtn" type="button" class="btn btn-primary">Yes</a>
                    <a type="button" class="btn btn-secondary" data-dismiss="modal">No</a>
                </div>
            </div>
        </div>
    </div>