/* Tabs*/
section {
    padding: 60px 0;
}

.btn {
    width: 6rem;
}

#tabs{
    color: black;
}

.fa-check{
    color: #1c7430;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #33cabb;
    background-color: transparent;
    border-color: transparent transparent #1c7430;
    border-bottom: 4px solid !important;
    font-size: 20px;
    font-weight: bold;
}
#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #33cabb;
    font-size: 20px;
}